<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<typeAliases>
		<typeAlias alias="User" type="com.myspace.model.User"/>
		<typeAlias alias="Group" type="com.myspace.model.Group"/>
	</typeAliases>
	  <!--
	<plugins>
	
		<plugin interceptor="com.coship.mybatis.interceptor.PaginationInterceptor">
		</plugin>
		
	</plugins>
	  -->
	<mappers>
		<mapper resource="conf/mapper/User.xml" />
		<mapper resource="conf/mapper/Group.xml" />
	</mappers>
</configuration>